@media only screen and (min-width: 770px) {
  
}
@media only screen and (max-width: 770px) {

  .scroll-wrapper { top: 108px; }
  .scroll-wrapper.no-overflow { overflow: inherit; }
  .messages { display: none; }

  .cart-header {position: fixed;z-index: 1;top: 0;width: 100%;height: 46px;margin: 0;overflow: hidden;border-bottom: 1px solid #eee;text-align: center;}
  .cart-header .checkout-types{ display: none; }

  .cart-header .btn-back { position: absolute; top: 0; left:0; width: 45px; height: 45px; line-height: 45px; }
  .cart-header .btn-back .iconfont { font-size: 20px; }

  .cart-header h1 {float: none;font-size: 14px;font-weight: 300;line-height: 45px;padding: 0;margin: 0; background-color: #fff;}


  .cart-tab {width: 100%;overflow: scroll;padding-top: 46px;}
  .cart-tab ul {overflow-x:auto;white-space: nowrap;font-size: 0;}
  .cart-tab li {display: inline-block;width: 150px;text-align: center;font-size: 14px;}
  .cart-tab li a {display: block;padding: 10px 0;line-height: 20px;border-width: 0px 1px 1px 0px;border-style: solid;border-color: #f9f3f0;color: #351611;background: #dac8bc;}
  .cart-tab li:last-child a { border-right-width: 0; }
  .cart-tab li a.active {background: #f8f3f0;border-bottom-width: 0;color: #351611;}
  .cart-tab li .iconfont {display: block;font-size: 18px;}



  .page .col-main > div { display: none; }
  .page .col-main > div.active { display: block; }


  .cart-wrapper {padding: 12px;border-bottom: 1px solid #dac7bc;}
  .cart-wrapper .cart-table {margin: 0;border: none;}
  .cart-wrapper tfoot { display: none; }

  .cart-table tbody tr {position:relative;padding: 0;margin-bottom: 10px;border: 1px solid #dac7bc;border-radius: 4px;overflow: hidden;}
  .cart-table tbody tr:after {content: '';display: block;height: 40px;border-top: 1px solid #dac7bc;background: #f9f3f0;}

  .cart-table h2.product-name {text-transform: none;line-height: 20px;}
  .cart-table .item-options dt {font-style: normal;font-weight: normal;font-size: 14px;}
  .cart-table .product-cart-image {padding: 12px 12px 30px;}
  .cart-table .product-cart-info {padding: 8px 12px 0 0;line-height: 20px;font-size: 14px;}
  .cart-table .item-options dd {margin-bottom: 0;padding-left: 0; */font-size: 13px;font-size: 14px;}
  .cart-table .product-cart-info .product-cart-sku { margin: 0; }
  .cart-table .product-cart-info .product-cart-sku .label { font-weight: normal; }
  .cart-table .product-cart-info .product-cart-color {margin-bottom: 10px;font-size: 14px;}

  .cart-table td[data-rwd-label] {padding: 0;font-size: 14px;line-height: 20px;margin-bottom: 0;}
  .cart-table td[data-rwd-label].product-cart-price { display: none; }
  .cart-table td[data-rwd-label].product-cart-total {display: block;position: absolute;bottom: 48px;right: 12px;width: auto;padding: 0;margin: 0;}
  .cart-table td[data-rwd-label].product-cart-total:before { content: ''; display: none; }
  .cart-table .btn-edit,
  .cart-table .btn-remove {position: absolute;z-index: 2;bottom: 0;left: 10px;width: auto;height: 40px;font-size: 13px;line-height: 40px;color: #999;background: none;text-indent: 0;}
  .cart-table .product-cart-info .btn-remove { margin: 0; }
  .cart-table .product-cart-info .btn-edit {bottom: 0;}

  .cart-table .btn-edit {right: 10px;left: auto;bottom: 8px;}

  .cart-table .remove-box { pointer-events: none; position: absolute;display: flex;top: 0;left: 0;bottom: 0;align-items:  center;padding: 20px;margin:  auto;width: 100%;background: #fffffff2;z-index: 2; opacity: 0; transition: opacity .3s; }
  .cart-table .remove-box.active { pointer-events: inherit; opacity: 1; }
  .cart-table .remove-box .box-body {padding-bottom: 30px;margin:  0;font-size: 14px;line-height: 20px;text-transform: none;text-align:  center;}
  .cart-table .remove-box .btn-set {width: 48%;}
  .cart-table .remove-box .btn-set a {display: block;height: 34px;line-height: 32px;text-align:center;background: #f7efec; color: #351611;border: 1px solid #e1e1e1;border-radius: 3px;}

  .cart-totals {padding-top: 24px;background: #fff;border: none;}
  .cart-totals .summary {text-align: center;font-weight: bold;padding-bottom: 24px;margin-bottom: 24px;border-bottom: 1px solid #dac7bc;}
  .cart-totals .price { font-size: 14px; }
  .cart-totals .checkout-types .btn-checkout { height: 44px; margin: 20px 0 0; border-radius: 5px; }
  .cart .cart-totals table tfoot { border: none; }
  .cart .cart-totals table tfoot strong {font-size: 12px;}
  .cart .cart-totals table tfoot td { padding: 5px 0; }





  .popout-cart-item {background: #f8f3f0;}


/*  .popout-cart-item .btn-close {padding: 6px 12px;margin: 6px 8px 0;background: #ddd;line-height: 20px;border: 1px solid #ccc;background: #ddd;border-radius: 3px;}
  .popout-cart-item .btn-close i {font-size: 16px;line-height: 1em;}
*/
  .popout-cart-item .product-info {padding: 12px;line-height: 24px;background: #fff;}
  .popout-cart-item .product-info .p-img {padding: 12px 0 24px;margin: 0 0 6px;border-bottom: 1px solid #ddd;text-align:  center;line-height:  0;}
  .popout-cart-item .product-info .p-img img {display: inline;width: 90px;height: auto;}
  .popout-cart-item .product-info .p-name { font-weight: bold; }
  .popout-cart-item .product-info .p-price { margin: 10px 0; }
  .popout-cart-item .product-info .entry { position: relative; margin-bottom: 20px;}
  .popout-cart-item .product-info .entry:last-child { margin-bottom: 0}
  .popout-cart-item .product-info .entry label {font-size: 14px;font-weight: normal;line-height: 1em;margin-bottom: 10px;}

  .popout-cart-item .product-info select { z-index: 1;left: 0; bottom: 0;}
  .popout-cart-item .product-info select { width: 100%; height: 44px; border: 1px solid #ccc;  background-color: #fff; }


  .cart .page-title,
  .footer { display: none; }
}

@media only screen and (max-width: 770px) {
  
}





















