<?xml version="1.0"?>
<config>
  <modules>
    <Raccoon_Distributor>
      <version>0.1.0</version>
    </Raccoon_Distributor>
  </modules>
  <frontend>
    <routers>
      <distributor>
        <use>standard</use>
          <args>
            <module>Raccoon_Distributor</module>
            <frontName>distributor</frontName>
          </args>
      </distributor>
    </routers>
    <layout>
      <updates>
      <distributor>
        <file>distributor.xml</file>
      </distributor>
      </updates>
    </layout>
  </frontend>
  <global>
    <helpers>
      <distributor>
        <class>Raccoon_Distributor_Helper</class>
      </distributor>
    </helpers>
  <blocks>
    <distributor>
    <class>Raccoon_Distributor_Block</class>
    </distributor>
  </blocks>
  </global>
</config> 