body.storelocator-index-print { marign: 0 !important; }
.wrapper { background: none; padding: 0; }
header { display: none; }
footer { display: none; }
main { margin: 0; }
.breadcrumbs { display: none; }
.snap { display: none; }