<?xml version="1.0"?>
<config>
  <modules>
    <AAOO_Qrcode>
      <version>0.1.1</version>
    </AAOO_Qrcode>
  </modules>
  <frontend>
    <routers>
      <qrcode>
        <use>standard</use>
          <args>
            <module>AAOO_Qrcode</module>
            <frontName>qrcode</frontName>
          </args>
      </qrcode>
    </routers>
    <layout>
      <updates>
      <qrcode>
        <file>qrcode.xml</file>
      </qrcode>
      </updates>
    </layout>
  </frontend>
  <global>
    <models>
      <qrcode>
        <class>AAOO_Qrcode_Model</class>
        <resourceModel>qrcode_mysql4</resourceModel>
      </qrcode>
      <qrcode_mysql4>
        <class>AAOO_Qrcode_Model_Mysql4</class>
        <entities>
          <qrcode>
            <table>qrcode</table>
          </qrcode>
        </entities>
      </qrcode_mysql4>
    </models>
    <resources>
      <qrcode_setup>
        <setup>
          <module>AAOO_Qrcode</module>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </qrcode_setup>
      <qrcode_write>
        <connection>
          <use>core_write</use>
        </connection>
      </qrcode_write>
      <qrcode_read>
        <connection>
          <use>core_read</use>
        </connection>
      </qrcode_read>
    </resources>
    <helpers>
      <qrcode>
        <class>AAOO_Qrcode_Helper</class>
      </qrcode>
    </helpers>
  <blocks>
    <qrcode>
    <class>AAOO_Qrcode_Block</class>
    </qrcode>
  </blocks>
  </global>
</config> 