<?xml version="1.0"?>
<config>
  <modules>
    <AAOO_Guestwishlist>
      <version>0.1.0</version>
    </AAOO_Guestwishlist>
  </modules>
  <global>
    <helpers>
      <guestwishlist>
        <class>AAOO_Guestwishlist_Helper</class>
      </guestwishlist>
    </helpers>
    <blocks>
      <guestwishlist>
        <class>AAOO_Guestwishlist_Block</class>
      </guestwishlist>
    </blocks>
    <models>
      <guestwishlist>
        <class>AAOO_Guestwishlist_Model</class>
      </guestwishlist>
    </models>
  </global>
  <frontend>
    <routers>
      <guestwishlist>
        <use>standard</use>
        <args>
          <module>AAOO_Guestwishlist</module>
          <frontName>guestwishlist</frontName>
        </args>
      </guestwishlist>
    </routers>
    <layout>
      <updates>
        <guestwishlist>
          <file>guestwishlist.xml</file>
        </guestwishlist>
      </updates>
    </layout>
    <events>
      <customer_login>
        <observers>
          <guestwishlist>
            <class>guestwishlist/observer</class>
            <method>customerLogin</method>
          </guestwishlist>
        </observers>
      </customer_login>
    </events>
  </frontend>
</config>