<?xml version="1.0"?>
<config>
    <modules>
        <Ecominfinity_Storelocator>
            <version>0.1.1</version>
        </Ecominfinity_Storelocator>
    </modules>
    <frontend>
        <routers>
            <storelocator>
                <use>storelocator_router</use>
                <args>
                    <module>Ecominfinity_Storelocator</module>
                    <frontName>storelocator</frontName>
                </args>
            </storelocator>
        </routers>
        <layout>
            <updates>
                <storelocator>
                    <file>storelocator.xml</file>
                </storelocator>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <storelocator>
                <class>Ecominfinity_Storelocator_Model</class>
                <resourceModel>storelocator_mysql4</resourceModel>
            </storelocator>
            <storelocator_mysql4>
                <class>Ecominfinity_Storelocator_Model_Mysql4</class>
                <entities>
                    <storelocator>
                        <table>storelocator</table>
                    </storelocator>
                </entities>
            </storelocator_mysql4>
        </models>
        <resources>
            <storelocator_setup>
                <setup>
                    <module>Ecominfinity_Storelocator</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </storelocator_setup>
            <storelocator_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </storelocator_write>
            <storelocator_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </storelocator_read>
        </resources>
        <blocks>
            <storelocator>
                <class>Ecominfinity_Storelocator_Block</class>
            </storelocator>
        </blocks>
        <helpers>
            <storelocator>
                <class>Ecominfinity_Storelocator_Helper</class>
            </storelocator>
        </helpers>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <storelocator before="Mage_Adminhtml">Ecominfinity_Storelocator_Adminhtml</storelocator>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <storelocator>
                    <file>storelocator.xml</file>
                </storelocator>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <web>
            <routers>
                <storelocator_router>
                    <area>frontend</area>
                    <class>Ecominfinity_Storelocator_Controller_Router</class>
                </storelocator_router>
            </routers>
        </web>
    </default>
</config>